@import '../style/input-style.scss';
@import '../style/option-style.scss';

.tk-select {
  &,
  & > .tk-tooltip-trigger {
    display: inline-block;
    width: 100%;
  }

  &__input {
    @include input-style;
    cursor: pointer;
  }

  &__options {
    @include options-container;
    transition: all 3s ease;
  }
}

.tk-option {
  @include option-style;
}
