@import '../style/input-style.scss';
@import '../style/option-style.scss';

.tk-select {
  position: relative;

  &,
  & > .tk-tooltip-trigger {
    display: inline-block;
    width: 100%;
  }

  &__input {
    @include input-style;
    cursor: pointer;
  }

  &__options {
    @include options-container;
    transition: all 3s ease;
  }

  &__arrow {
    position: absolute;
    right: $input-medium-padding-hoz;
    top: 50%;
    transform: translateY(-50%);
    font-size: $font-size-large;
    color: $color-text-main;
    pointer-events: none;
  }
}

.tk-option {
  @include option-style;
}
