@import '../style/input-style.scss';

.tk-input {
  @include input-style;

  &[readonly] {
    background-color: $input-bg-color-disabled;
    border-color: $input-border-color;
    cursor: default;
  }
}
